body {
    margin: 0;
    padding: 20px;
    background: #C8C8C8;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html * {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}
